/* src/styles/Sidebar.css */

.sidebar {
  width: 220px;
  background-color: #1f2937;
  /* color: black; */
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100%;
}

.sidebar.collapsed {
  width: 60px;
  padding: 1rem 0.5rem;
}

.toggle-btn {
  background: #111827;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin-bottom: 1rem;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}
